version: '3.8'

networks:
  mynetwork:
    driver: bridge

volumes:
  db_data:  

services:
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: graffino_online_store
    networks:
      - mynetwork
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql 
  webapp:
    image: florescucristian/graffino-online-store-api:05.06.2024.19.15.26
    networks:
      - mynetwork
    ports:
      - "8081:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__Default: "Server=mysql;Database=graffino_online_store;User=root;Password=root;SslMode=None;"
    depends_on:
      - mysql
    restart: unless-stopped
  clientapp:
    image: florescucristian/graffino-online-store-client:06.06.2024.10.27.04
    networks:
      - mynetwork
    ports:
      - "5000:80"
    depends_on:
      - webapp
  nginx:
    image: florescucristian/graffino-online-store-proxy-service:v1
    networks:
      - mynetwork
    ports:
      - "8080:80"
    depends_on:
      - clientapp
      - webapp